<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blog Website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="/static/css/nouislider.css" />
    <!-- Google fonts - Playfair Display-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700"
    />
    <!-- Google fonts - Poppins-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700"
    />
    <!-- swiper-->
    <link rel="stylesheet" href="/static/css/swiper.min.css" />
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="/static/css/magnific-popup.css" />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="/static/css/default.css"
      id="theme-stylesheet"
    />
    <!-- Custom stylesheet - for your changes-->
    {% comment %}
    <link rel="stylesheet" href="/static/css/custom.css" />
    {% endcomment %}
    <script src="/static/js/main.js"></script>
  </head>

  <body>
    <input type="hidden" id="csrf" value="{{csrf_token}}" />
    {% block body %} {% endblock %}
  </body>
</html>
