{% extends "base.html" %} {% block body %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto mt-5" style="text-align: center">
        <h2>{{ blog_obj.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto mt-5" style="text-align: center">
        <div class="text-content">{{ blog_obj.content|safe }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto" style="text-align: center">
        <img
          style="height: 40vh; width: 40vw"
          src="{{ blog_obj.image.url }}"
          alt="Blog Image"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto mt-5" style="text-align: center">
        <p>{{ blog_obj.user.username}}</p>
    </div>
  </div>
</section>
{% endblock %}
