{% extends "base.html" %} {% block body %}

<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <a class="navbar-brand py-1" href="index-2.html">
          <h3>IK BLOG</h3>
        </a>
      </div>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
            <a class="btn btn-primary" href="{% url 'add_blog' %}">Add Blog</a>
          </li>
          <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
            <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
            <a class="btn btn-primary" href="{% url 'login_view' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Navbar -->
</header>

<div>
  <img
    style="width: 100vw; margin: 0; padding: 0"
    src="https://picsum.photos/seed/picsum/1500/400"
    alt=""
  />
</div>

<section class="py-6">
  <div class="container">
    <div class="row mb-5">
      <!-- blog item-->
      {% for blog in blogs %}
      <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
        <div class="card shadow border-0 h-100">
          <a href="{% url 'blog_detail' blog.title %}"
            ><img class="img-fluid card-img-top" src="{{blog.image}}" alt="..."
          /></a>
          <div class="card-body">
            <a
              class="text-uppercase text-muted text-sm letter-spacing-2"
              href="#"
              >{{blog.user.username}}
            </a>
            <h5 class="my-2">
              <a class="text-dark" href="post.html">{{blog.title}} </a>
            </h5>
            <p class="text-gray-500 text-sm my-3">
              <i class="far fa-clock mr-2"></i>{{blog.created_at}}
            </p>
            <p class="my-2 text-muted text-sm">CLICK TO READ MORE...</p>
            <a
              class="btn btn-link pl-0"
              href="{% url 'blog_detail' blog.title %}"
              >Read more<i class="fa fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<footer>
  <div
    style="
      width: 100vw;
      margin: 0;
      padding: 15px;
      text-align: center;
      background-color: powderblue;
    "
  >
    <div class="footer-content">
      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </div>
</footer>

{% endblock %}
